.circle {
    border-radius: 50%;
    border: 2px solid crimson;
    padding: 2.5px;
    height: 150px;
    width: 150px;
  }
  
  .cont{
    height: 120%;
    width: 100%;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
  }
  
  .outer {
    background-color: rgb(238, 238, 238);
    height: 200px;
    width: 150px;
    margin-left: 8px;
    margin-right: 8px;
    justify-content: center;
    position: relative;
    color: black;
    text-align: center;
    letter-spacing: 0.6px;
    font-size: 15px;
    font-family: 'sans-serif', cursive;
  }

  .outer a {
    text-decoration: none;
  }